/* :root{
    --bg1: #171717;
    --bg2: #1a1a1a;
    --bg3: #2f2f2f;
    --t: white;
    --a: rgb(73, 73, 109);
} */

:root{
    --bg1: #171717;
    --bg2: #111111;
    --bg3: #171717;
    --t: white;
    --a: #b33939;
}